/* slide animation */
.slideContainer{
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    animation: slideBg 30s linear infinite 0s;
    animation-timing-function: ease-in-out;
    background-image: url('/Photo/image-slide1.png');
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes slideBg {
    0% {
        background-image: url('/Photo/image-slide1.jpg');
    }

    33% {
        background-image: url('/Photo/image-slide2.jpg');
    }

    67%{
        background-image: url('/Photo/image-slide3.jpg');
    }

    100% {
        background-image: url('/Photo/image-slide1.jpg');
    }
}


.coverMain{
    height: auto;
    width: 100%;
}

.coverTitle{
    display: block;
    text-align: center;
    font-size: 20px;
    margin-bottom: 18px;
}

.brideGroom{
    font-family: 'Great Vibes', cursive;
}

.openGuest{
    font-size: 18px;
    font-weight: 100px;
}

.nameGuest{
    font-size: 18px;
}

.alertGuest{
    font-weight: 100px;
    font-size: 10px;
}

.buttonCover{
    border: 1px solid;
    border-radius: 25px;
    padding: 7.5px 21px;
    transition: 1s ease-in-out;
}

.buttonCover:hover{
    background-color: white;
    color: black;
    border-color: white;
}
