/* crossfade image background */
@keyframes fader{
    0% {background: url('/Photo/image-slide1.png')}
    33% {background: url('/Photo/image-slide2.png')}
    67% {background: url('/Photo/image-slide3.png')}
    100% {background: url('/Photo/image-slide1.png')}
}

.cover{
    width: 100%;
    height: 100vh;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    animation: fader 20s linear infinite;
}

.cover:after {
    content: ""; 
    background: rgba(0,0,0,0.47);
  }

.coverMain{
    height: auto;
    width: 100%;
}

.coverTitle{
    display: block;
    text-align: center;
    font-size: 20px;
    margin-bottom: 18px;
}

.brideGroom{
    font-family: 'Great Vibes', cursive;
}

.openGuest{
    font-size: 18px;
    font-weight: 100px;
}

.nameGuest{
    font-size: 18px;
}

.alertGuest{
    font-weight: 100px;
    font-size: 10px;
}

.buttonCover{
    border: 1px solid;
    border-radius: 25px;
    padding: 7.5px 21px;
}
