@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  @font-face {
    font-family: 'Golden';
    src: url('/fonts/Golden-Plains.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: 'Adam-Bold';
    src: url('/fonts/Adam-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: 'Adam-Medium';
    src: url('/fonts/Adam-Medium.woff') format('woff');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: 'Adam-Light';
    src: url('/fonts/Adam-Light.woff') format('woff');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
  }

  @font-face {
    font-family: 'AnthoniGristhea';
    src: url('/fonts/AnthoniGristhea.woff') format('woff');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }


}

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: 'Inter', sans-serif; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
